/com/
/jbpm.businesscalendar.cfg.xml
/jbpm.cfg.xml
/jbpm.default.cfg.xml
/jbpm.execution.hbm.xml
/jbpm.hibernate.cfg.xml
/jbpm.history.hbm.xml
/jbpm.identity.cfg.xml
/jbpm.identity.hbm.xml
/jbpm.jpdl.cfg.xml
/jbpm.mail.properties
/jbpm.mail.templates.xml
/jbpm.repository.hbm.xml
/jbpm.task.hbm.xml
/jbpm.tx.spring.cfg.xml
/log4j.xml
/logging.properties
/messages.properties
/mpi.properties
/process_forms.css
